<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [6]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = '/Users/kaiengwee/Documents/GitHub/GA18Aug/Project2/GA_Project2/chipotle.tsv'

In [7]:
file_nested_file=[]

with open(DATA_FILE) as f:
    file_nested_list= [row for row in csv.reader(f, delimiter='\t')]

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [8]:
header= file_nested_list[0]
data= file_nested_list[1:]

In [19]:
header

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [24]:
data[0:10]

[['1', '1', 'Chips and Fresh Tomato Salsa', 'NULL', '$2.39 '],
 ['1', '1', 'Izze', '[Clementine]', '$3.39 '],
 ['1', '1', 'Nantucket Nectar', '[Apple]', '$3.39 '],
 ['1', '1', 'Chips and Tomatillo-Green Chili Salsa', 'NULL', '$2.39 '],
 ['2',
  '2',
  'Chicken Bowl',
  '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]',
  '$16.98 '],
 ['3',
  '1',
  'Chicken Bowl',
  '[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]',
  '$10.98 '],
 ['3', '1', 'Side of Chips', 'NULL', '$1.69 '],
 ['4',
  '1',
  'Steak Burrito',
  '[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]',
  '$11.75 '],
 ['4',
  '1',
  'Steak Soft Tacos',
  '[Tomatillo Green Chili Salsa, [Pinto Beans, Cheese, Sour Cream, Lettuce]]',
  '$9.25 '],
 ['5',
  '1',
  'Steak Burrito',
  '[Fresh Tomato Salsa, [Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Lettuce]]',
  '$9.25 ']]

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [16]:
num_orders= 0

for i in data:
    if int(i[0])> num_orders:
        num_orders= int(i[0])
        
print("The total number of orders is", num_orders)

The total number of orders is 1834

In [33]:
total_prices= 0

for i in data:
    total_prices= total_prices + float(i[4].replace('$',''))

print("The sum of all order prices is $", round(total_prices,2))

The sum of all order prices is $ 34500.16

In [34]:
avg_order_price= total_prices/num_orders

print('The average price of an order is $', round(avg_order_price,2))

The average price of an order is $ 18.81

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [40]:
unique_sodas= []

for i in data:
    if 'Canned Soda' in i[2] or 'Canned Soft Drink' in i[2]:
        unique_sodas.append(i[3])
        
unique_sodas= set(unique_sodas)
        
print(unique_sodas)

{'[Nestea]', '[Diet Dr. Pepper]', '[Lemonade]', '[Dr. Pepper]', '[Sprite]', '[Coke]', '[Coca Cola]', '[Diet Coke]', '[Mountain Dew]'}

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [44]:
burrito_count= 0
topping_count= 0

for i in data:
    if 'Burrito' in i[2]:
        burrito_count= burrito_count + 1
        
for i in data:
    if 'Burrito' in i[2]:
        topping_count= topping_count + i[3].count(',') + 1
        
avg_burrito_topping= topping_count / burrito_count
print('The average number of toppings per burrito is', avg_burrito_topping)

The average number of toppings per burrito is 5.395051194539249

In [45]:
burrito_count= 0
topping_count= 0

for i in data:
    if 'Burrito' in i[2]:
        burrito_count += int(i[1])
        
for i in data:
    if 'Burrito' in i[2]:
        topping_count += int(i[1]) * i[3].count(',') + 1
        
avg_burrito_topping = topping_count / burrito_count
print('The average number of toppings per burrito is', avg_burrito_topping)

The average number of toppings per burrito is 5.326563769293258

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [51]:
chip_orders = []

for i in data:
    if 'Chip' in i[2]:
        chip_orders.append(i[2])
        
chip_orders= list(set(chip_orders))
print(chip_orders)
print(len(chip_orders))

['Chips and Tomatillo Red Chili Salsa', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Guacamole', 'Chips and Roasted Chili Corn Salsa', 'Chips and Tomatillo-Red Chili Salsa', 'Chips and Tomatillo Green Chili Salsa', 'Side of Chips', 'Chips and Tomatillo-Green Chili Salsa', 'Chips and Mild Fresh Tomato Salsa', 'Chips and Fresh Tomato Salsa', 'Chips']
11

In [55]:
chip_count_list= []

for i in chip_orders:
    chip_count= 0
    for k in data:
        if k[2] == i:
            chip_count += int(k[1])
    chip_count_list.append(chip_count)
    
print(chip_count_list)
print(len(chip_count_list))

[50, 18, 506, 23, 25, 45, 110, 33, 1, 130, 230]
11

In [60]:
chip_dict= dict(zip(chip_orders, chip_count_list))
chip_dict

{'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Guacamole': 506,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Side of Chips': 110,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Fresh Tomato Salsa': 130,
 'Chips': 230}

In [59]:
chip_dict['Side of Chips']

110

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!

In [61]:
all_orders= []

for i in data:
    all_orders.append(i[2])

all_orders= list(set(all_orders))

print(len(all_orders))

50

In [63]:
order_rev_list= []

for i in all_orders:
    order_rev = 0
    for k in data:
        if k[2] == i:
            order_rev += int(k[1]) * float(k[4].replace('$',''))
    order_rev_list.append(order_rev)
    
print(len(order_rev_list))

50

In [70]:
rel_pos= 0

for i in range(0,len(order_rev_list)):
    if order_rev_list[i] == max(order_rev_list):
        rel_pos += 1
        
print('Item which generated the highest revenue is', all_orders[rel_pos], 'with a total value of $', round(max(order_rev_list),2))

Item which generated the highest revenue is 6 Pack Soft Drink with a total value of $ 8044.63